sourcemap.json
rotriever.lock
Packages/*
!Packages/.robloxrc
!Packages/_Workspace/
Packages/_Workspace/*
!Packages/_Workspace/.robloxrc
standalone/Packages
**/*.rbx[lm]*
.DS_Store
.vscode
roblox.yml
roblox.toml
**/luacov.*
.idea/
site/
__pycache__/

tests/wally-consumer/Packages/
tests/wally-consumer/.staging/
tests/wally-consumer/.artifacts/

default_modules
modules_*

**.log